* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

header {
    width:auto;
    height:3.5em;
    background-color:black;
    display:flex;
    justify-content:space-around;
    align-items:center;

    position:sticky;
    top:0;
    z-index:100;

}

header a {
    text-decoration: none;
    color:#e9ecef;
    font-weight:bold;
}


.cart {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4px;
    background-color:#f8f9fa;
    border-radius:3px;
    width:15%;
    height:auto;
}
