* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

header {
    width:auto;
    height:3.5em;
    background-color:black;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

header a {
    text-decoration: none;
    color:#e9ecef;
    font-weight:bold;
}


.cart {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4px;
    background-color:#f8f9fa;
    border-radius:3px;
    width:15%;
    height:auto;
}

.mensClothing {
    display:grid;
    grid-template-columns:repeat(1, 200px);
    justify-content:space-around;
    align-items:center;
    text-align:center;
}

.item  img {
    width:200px;
    padding:20px;
    border-radius:20px;
}

.item button {
    background-color:#352B2B;
    color:white;
    border:none;
    height:30px;
    width:100px;
    padding-bottom:4px;
    border-radius:4px;
    margin-bottom:100px;
}
